/* Importing Styles */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Orbitron:wght@624&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Orbitron:wght@400..900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

/*Main Page*/

.index-imageDiv{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.index-title{
    font-family: "Audiowide", sans-serif;
    text-align: center;
    
}

.index-image{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
}

.index-description{
    font-family: "Audiowide", sans-serif;
    font-size: 20px;

}

/* Navigation Bar beige */
.navigation{
    display: flex;
    justify-content: center;
    column-gap: 150px;
    margin-top: 30px;
  
}

.nav-links{
    color: black;
    font-family: "Audiowide", sans-serif;

}


a:link{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

/* Celestial Bodies*/
.celestial-title{
    color: black;
    font-family: "Orbitron", sans-serif;
}
.repository-header{
    text-align: center;
}

.buttonPlace{
    position: relative;
    top: 20px;
    left: 95%;
    height: 50px;
    width: 50px;

}

.celestial-options{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    text-align: center;
    height: 500px;
}

.celestial-planet{
    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 20px;
    padding: 25px 50px;
    color: green;
    font-family: "Audiowide", sans-serif;
    
    
}

.celestial-blackHoles{
    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 20px;
    padding: 25px 50px;
    color: blue;
    font-family: "Audiowide", sans-serif;

    
}
.celestial-solarSystem{
    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 20px;
    padding: 25px 50px;
    color: pink;
    font-family: "Audiowide", sans-serif;
    
}

#planet-hover:hover{
    border-style: groove;
    border-width: 5px;
    border-color: green;
    
    
}

#blackHoles-hover:hover{
    border-style: groove;
    border-width: 5px;
    border-color: blue;
}
#solarSystem-hover:hover{
    border-style: groove;
    border-width: 5px;
    border-color: pink;
}



/*Log In */
.login-title{
    font-family: "Audiowide", sans-serif;
    font-size: 30px;
}
.login-outer{
    display: flex;
    justify-content: center;
    height: 40vh;
    align-items: center;

}

.login-header{
    text-align: center;
    
}

#label{
    font-family:"Orbitron", sans-serif;
}

.login-username{

}
.login-input:focus{
    border: 3px solid #555;
}

/*Account styling*/
.account-create{
    border-style: solid;
    border-width: 2px;
    text-align: center;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 600px;
}
.account-form{
    display: flex;
    flex-direction: column;
    height: 350px;
    row-gap: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 30%;
    
}


.checkbox{
    display: flex;
    width: 60%;
    margin-right: auto;
    margin-left: auto;

}

.input-div{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    margin-right: auto;
    margin-left: auto;
    width: 60%;
}



.account-submit{
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    font-size: 10px;
}

/*Planets css */
.grid-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: safe;
    column-gap: 40px;
    row-gap: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    
}

.data-container{
    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 20px;
    padding: 25px 50px;
    color: white;
    font-family: "Audiowide", sans-serif;
    height: 400px;
    position: relative;
    z-index: 2;
    background-image: url('./icons/earthImage.jpg');
    background-position: 0%;

}

.data-container:hover{
    border-color: pink;

}

#bookmark-star{
    position: absolute;
    margin-bottom: 100px;
    margin-left: 300px;
   
}

#search{
    margin-top: 20px;
    width: 100px;
    margin-left: 20px;
    border-radius: 20px;
    font-family:"Orbitron", sans-serif;
    transition: ease-in-out, width .35s ease-in-out;

    
}
#search:focus{
    width: 250px;
}


/*Profile CSS */
.profile-main{
    height: 85vh;
}

.profile-image{
    display: flex;
    justify-content: center;
}
.profile-options{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}
.logout{
    display: flex;
    flex-direction: row-reverse;
}
.image-profile{
    height: 400px;
    width: 400px;
    border-radius: 50%;
}