
<main>
   
    <div class="account-create">
        <h1 class="account-title">Create an Account</h1>
        <form action="/users/registration" class="account-form" method="post">
            <div class="input-div">
                <label for="firstName">Enter First Name</label>
                <input type="text" id="firstName" name="firstName">
            </div>
            <div class="input-div">
                <label for="lasName">Enter Last Name</label>
            <input type= "text" id="lasName" name="lastName"><br>
            </div>
            <div class="input-div">
                <label for="accountName">Enter UserName</label>
                <input type= "text" id="accountName" name="username">
            </div>
            <div class="input-div">
                <label for="email">Email</label>
                <input type="email" name="email" id="email"><br>
            </div>
            <div class="input-div">
                <label for="passWord">Enter Password</label>
                <input type= "password" id="passWord" name="password">
            </div>
            <div class="input-div">
                <label for="cpassword">Confirm Password</label>
                <input type="password" name="cpassword" id="cpassowrd"><br>
            </div>
            <div class="checkbox">
                <label for="Personal">Receive Updates</label>
                <input type="checkbox" id="updates" name="role" onchange="checkerUpdates()">
                
            </div>
            <input type="submit" value="Submit" class="account-submit">
        </form>
       
        
    </div>
    
</main>
</html>