<main>
    <div class="index-imageDiv">
        <h3 class="index-title" id="index-title">Title</h3>
        <img class="index-image" id="index-image"  alt="Space Image of the day">
        <p class="index-description" id="index-description">Description</p>
        
    </div>
</main>