
<main>
      <button class="buttonPlace" onclick="moreItems()">
         <i class="fa-solid fa-shuttle-space"></i>
      </button>
     <div class="celestial-options">

      <div class="celestial-planet" id="planet-hover" >
         <h2 id="planet-title">Planets</h2>
         <img id="planet-image" src="../public/icons/mars.gif" alt="Mars Gif" width="250" height="250">
      </div>

      <div class="celestial-blackHoles" id="blackHoles-hover">
         <h2 id="blackHole-title">Black Holes</h2>
         <img id="blackHole-image" src="../public/icons/black-hole.gif" alt="Black Hole Image" width="250px" height="250px"> 
      </div>

      <div class="celestial-solarSystem" id="solarSystem-hover">
         <h2 id="solarSystem-title">Solar System</h2>
         <img id="solarSystem-image" src="../public/icons/solar-system.gif" alt="Solar System Gif" width="250px" height="250px">
      </div>


     </div>

     <script src="repository.js"></script>
</main>
