.navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: beige;
    margin: auto;
    height: 100px;

    
    
}

.nav-item{
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Login from css*/
.login-outer{
    background-color: aqua;
    
}

